<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hp.games"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.hp.games.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hp.games.Bollywood"
            android:label="@string/title_activity_bollywood" >
        </activity>
        <activity
            android:name="com.hp.games.End"
            android:label="@string/title_activity_end" >
        </activity>
        <activity
            android:name="com.hp.games.Sports"
            android:label="@string/title_activity_sports" >
        </activity>
        <activity
            android:name="com.hp.games.Technology"
            android:label="@string/title_activity_technology" >
        </activity>
        <activity
            android:name="com.hp.games.Politics"
            android:label="@string/title_activity_politics" >
        </activity>
    </application>

</manifest>